
<!DOCTYPE html>
<html>
  <head>
    <title>Express To Heal</title>
    <%= csrf_meta_tags %>
        
        <link href="https://fonts.googleapis.com/css?family=Rajdhani:600,700" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
   
    <div class="navbar-header logo">
      <%= image_tag "expresstoheal_logo.png", {height: 55} %>
    </div>

    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', controller: 'home', action: 'about' %></li>
        <li><%= link_to 'Obstacles', obstacles_path %></li>
        <li><%= link_to 'Contact', controller: 'home', action: 'contact' %></li>
      </ul>


      <p class="navbar-text navbar-right">
        <% if current_peep %>
          <%= image_tag current_peep.image.url(:thumb), class: "img-round", height: "50" %>
          Welcome, <%= link_to current_peep.username, profile_path %> 
          <%= link_to 'Log Out', logout_path('dummy'), { :class=>"btn btn-default navbar-btn", method: :delete } %> 
        <% else %>
          <%= link_to 'Log In', login_path, { :class=>"btn btn-default navbar-btn" } %> |
          <%= link_to 'Sign Up', signup_path, { :class=>"btn btn-default navbar-btn" } %>
        <% end %> 
      </p>

    </div>
  </nav>

    <%= yield %>
   
   <br>
   <br>

    <footer class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          © 2017 Express To Heal. All Rights Reserved. 
        </div>
    </footer>

</div>


    </body>
  </html>
<br>
